<!DOCTYPE html>
<html>
<head>
<title></title>
<link href="/stylesheets/main.css" rel="stylesheet">
</head>
<body>
<nav>
      <a href="/"> Home </a>
      <a href="/articles" class="selected"> Articles </a>
      <a href="/articles/new"> Submit </a>
      <a href="/contact"> Contact Us </a>
    </nav>
  <% articlesList.forEach(function (articles) { %>
    <div>
      <h2>
        <a href="/articles/<%= articles.id %>"><%= articles.title %></a>
      </h2>
      <div>
        <%= articles.author %>
      </div>
    </div>
  <% }) %>


</body>
</html>